# Demographic Data Analyzer

In [179]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    
      # Read data from file
      df = pd.read_csv('adult.data.csv')

      # How many of each race are represented in this dataset? This should be a Pandas series with race\
          #names as the index labels.
      race_count = df.groupby('race')['age'].count()

      # What is the average age of men?
      average_age_men = df.groupby('sex')['age'].mean().iloc[1].round(1)

      # What is the percentage of people who have a Bachelor's degree?
      percentage_bachelors = (
        (df.groupby('education').count().loc['Bachelors', 'age'] / len(df.index)) *
        100).round(1)

      # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
      # What percentage of people without advanced education make more than 50K?

      higher = ((df.education == 'Bachelors') | (df.education == 'Masters') |
                (df.education == 'Doctorate'))
      lower = ~higher

      # with and without `Bachelors`, `Masters`, or `Doctorate`
      higher_education = len(df.loc[higher]) / len(df)
      lower_education = len(df.loc[lower]) / len(df)

      # percentage with salary >50K
      higher_education_rich = round(
        len(df.loc[higher & (df['salary'] == '>50K')]) / len(df.loc[higher]),
        3) * 100
      lower_education_rich = round(
        len(df.loc[lower & (df['salary'] == '>50K')]) / len(df.loc[lower]),
        3) * 100

      # What is the minimum number of hours a person works per week (hours-per-week feature)?
      min_work_hours = min(df['hours-per-week'])

      # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
      num_min_workers = len(df.loc[df['hours-per-week'] == min_work_hours])

      rich_percentage = (len(df.loc[(df['hours-per-week'] == min_work_hours)
                                    & (df['salary'] == '>50K')]) /
                         num_min_workers) * 100

      # What country has the highest percentage of people that earn >50K?
      highest_earning_country = (df[df['salary'] == '>50K'].groupby('native-country').size()/df.groupby('native-country')\
                                 ['salary'].count()).sort_values(ascending=False).idxmax()

      highest_earning_country_percentage = ((df[df['salary'] == '>50K'].groupby('native-country').size()\
                                             / df.groupby('native-country')['salary'].count()).sort_values(ascending=False)\
                                             [0].round(3))*100

      # Identify the most popular occupation for those who earn >50K in India.
      rich_india = ((df.salary == '>50K') & (df['native-country'] == 'India'))

      top_IN_occupation = rich_india.groupby(
        df.occupation).count().sort_values(ascending=False).idxmax()

      # DO NOT MODIFY BELOW THIS LINE

      if print_data:
        print("Number of each race:\n", race_count)
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(
          f"Percentage with higher education that earn >50K: {higher_education_rich}%"
        )
        print(
          f"Percentage without higher education that earn >50K: {lower_education_rich}%"
        )
        print(f"Min work time: {min_work_hours} hours/week")
        print(
          f"Percentage of rich among those who work fewest hours: {rich_percentage}%"
        )
        print("Country with highest percentage of rich:", highest_earning_country)
        print(
          f"Highest percentage of rich people in country: {highest_earning_country_percentage}%"
        )
        print("Top occupations in India:", top_IN_occupation)

      return = {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage': highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
      }

SyntaxError: invalid syntax (764472260.py, line 86)

In [180]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [182]:
calculate_demographic_data()

Number of each race:
 race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: age, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty

{'race_count': race
 Amer-Indian-Eskimo      311
 Asian-Pac-Islander     1039
 Black                  3124
 Other                   271
 White                 27816
 Name: age, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'higher_education_rich': 46.5,
 'lower_education_rich': 17.4,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.9,
 'top_IN_occupation': 'Prof-specialty'}